.gallery {
    max-width: 650px;
    margin: 0 auto;
    .gallery-images {
        // customize each gallery
        .old-gallery-image {
            width: 25%;
            float: left;
            padding: 5px;
        }
    }
}
