// common styles
// global styles
@black: #4d4d4d;
@white: #fefefe;
@grey: lighten(@black, 30);
@featureImageMaxWidth: 571px;

// fancybox overrides

// TODO: names, cleanup
.fancybox-skin {
    .fancybox-nav {
        width: 40px;
    }
    .fancybox-nav span {
        visibility: visible;
        opacity: 0.5;
    }
    .fancybox-nav:hover span {
        opacity: 1;
    }
    .fancybox-nav {
        &.fancybox-next {
            right: -70px;
        }
        &.fancybox-prev {
            left: -70px;
        }
    }
    #toggle-zoom {
        cursor: pointer;
        &:after {
            content: 'zoom';
            padding-left: 10px;
        }
        &.zoom-status:after { content: 'exit'; }
    }
    img.zoomImg { cursor: crosshair; }
}

// global
body {
    min-width: 320px;
}

a {
    &:visited,
    &:focus,
    &:active { text-decoration: none; }
}

// main view
.main-container {
    @media (min-height: 450px) and (min-width: 678px) {
        padding-left: 15px;
    }
    &.sidebar-offset {
        margin-top: 75px;
        @media (min-height: 450px) and (min-width: 678px) {
            margin-left: 250px;
            margin-top: 20px;
        }
    }
    .statement,
    .contact,
    .cv {
        max-width: 650px;
        margin: 0 auto;
    }
    .cv {
        ul {
            list-style-type: none;
            padding: 0;
            li span { font-weight: bold; }
        }
    }
    .feature-image {
        max-width: @featureImageMaxWidth;
        margin: 0 auto;
    }
}
