// common styles
// global styles
@black: #4d4d4d;
@white: #fefefe;
@grey: lighten(@black, 30);

body {
    min-width: 320px;
}

// main view
.main-container {
    @media(min-width: 678px) {
        padding-left: 15px;
    }
    &.sidebar-offset {
        margin-top: 75px;
        @media(min-width: 678px) {
            margin-left: 250px;
            margin-top: 20px;
        }
    }
    .statement,
    .contact,
    .cv {
        max-width: 650px;
        margin: 0 auto;
    }
    .cv {
        ul {
            list-style-type: none;
            padding: 0;
            li span { font-weight: bold; }
        }
    }
}
