<nav>
    <h2 class="title">Christina M. Lee
        <span class="glyphicon glyphicon-menu-hamburger mobile-trigger"></span>
    </h2>
    <div class="link-container">
        <ul>
            <li ui-sref="main"><h2>Christina M. Lee</h2></li>
            <li class="link" ui-sref="paper">paper</li>
            <li class="link" ui-sref="wall">wall</li>
            <li class="link" ui-sref="old">old</li>
            <li class="link" ui-sref="statement">statement</li>
            <li class="link" ui-sref="cv">cv</li>
            <li class="link" ui-sref="contact">contact</li>
        </ul>
    </div>
</nav>
