<nav>
    <h2 class="title">
        <span class="home" ui-sref="main">Christina M. Lee</span>
        <span class="glyphicon glyphicon-menu-hamburger mobile-trigger"></span>
    </h2>
    <div class="link-container">
        <ul>
            <li ui-sref="main"><h2>Christina M. Lee</h2></li>
            <li class="link" ui-sref="paper">paper</li>
            <li class="link" ui-sref="wall">wall</li>
            <li class="link" ui-sref="old">old</li>
            <li class="link" ui-sref="statement">statement</li>
            <li class="link" ui-sref="cv">cv</li>
            <li class="link" ui-sref="contact">contact</li>
            <li class="link social">
                <a href="https://instagram.com/cee_m_lee/" target="_blank">
                    <img
                        class="img-responsive"
                        src="assets/images/insta_logo_64.png"
                        alt="instagram logo">
                </a>
                <a href="http://christinamlee.tumblr.com/" target="_blank">
                    <img
                        class="img-responsive"
                        src="assets/images/tumblr_logo_blue_64.png"
                        alt="tumblr logo">
                </a>
            </li>
        </ul>
    </div>
</nav>
